@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="header1">
    <h1 class="alert alert-info" style="text-align:left;">Product Name</h1>
    <br />
    <img src="../Content/Images/Jellyfish.jpg" alt="..." class="header">
    <hr />
</div>
<br />
<div class="row contentText">
    <div class="col-md-6">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 alert alert-success"><img src="../content/images/Koala.jpg" width="80px" alt="..." class="img-rounded">&nbsp;&nbsp;&nbsp;Name</div>
            <div class="col-lg-1"></div>
          </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">Description</div>
            <div class="col-lg-5">Test descritption</div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">Latitude</div>
            <div class="col-lg-5">1010000000</div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">Longitude</div>
            <div class="col-lg-5">2000000000</div>
            <div class="col-lg-1"></div>
        </div>
        </div>
    <div class="col-md-6">

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 alert alert-success"><img src="../content/images/LightHouse.jpg" width="80px" alt="..." class="img-rounded">&nbsp;&nbsp;&nbsp;Item Details</div>
            <div class="col-lg-1"></div>
        </div>

       <div class="row">
           <div class="col-lg-1"></div>
           <div class="col-lg-5">UUID</div>
           <div class="col-lg-5">Tewst Id :2000000000</div>
           <div class="col-lg-1"></div>
       </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">Major</div>
            <div class="col-lg-5">Major id</div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">Minor</div>
            <div class="col-lg-5">Minor id</div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">Title</div>
            <div class="col-lg-5">this is the title</div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">Descriptions</div>
            <div class="col-lg-5">this is the descfritonsd lorem ipsum</div>
            <div class="col-lg-1"></div>
         </div>
         <div class="row">
             <div class="col-lg-1"></div>
                <div class="col-lg-5">video link</div>
                <div class="col-lg-5">Click here for video</div>
             <div class="col-lg-1"></div>
         </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">Audio link</div>
            <div class="col-lg-5">Click here for Audio</div>
            <div class="col-lg-1"></div>
        </div>
        </div>
    </div>